<div class="left-slider-main h-100">
<!-- nav bar -->
    <div class="nav left-slide-nav justify-content-between">
<!-- profile image section left part of the nav flex -->
        <div class="d-flex justify-content-start">
            <a href="#"><img [src]="profileImg"></a>
        </div>
<!-- right part of nav bar flex -->
        <div class="d-flex justify-content-lg-around align-items-center">
            <a href="#" class="h-50"><img class="h-100" [src]="messageImg"></a>
            <a href="#" class="h-50"><img class="h-100" [src]="toggleImg"></a>
        </div>
    </div>
<!-- search bar -->
    <div class="d-flex">
        <form class="input-group search-input m-1">
            <button class="btn btn-light"><img class="w-50" [src]="searchImg"></button>
            <input class="form-control border-0" type="search" placeholder="Search people">
        </form>
    </div>
<!-- chatlist [contain people's list whose chat has been initiated] -->
    <div class="chat-list py-1">
        <ul class="list-group">
            <li class="list-group-item d-flex p-0">
                <div class="d-flex flex-row">
                    <img [src]="profileImg">
                    <div class="d-flex flex-column">
                        <label class="h-50 pt-2"><strong>User Name1</strong></label>
                        <p class="m-0 text-black-50">latest message</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex p-0">
                <div class="d-flex flex-row">
                    <img [src]="profileImg">
                    <div class="d-flex flex-column">
                        <label class="h-50 pt-2"><strong>User Name2</strong></label>
                        <p class="m-0 text-black-50">latest message</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>