.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 27px;
}

.message-window{
    background-color: #dddcdc;
}

.profile-name{
    font-weight: bold;
}

.group-info{
    font-size: 15px;
    color: gray;
}

.mx-6{
    margin-right: 9rem !important;
    margin-left: 9rem !important;
}

.messaging-window{
    overflow-y: scroll;
    height: 64.5vh;
}

.texting-section{
    background-color: #dddcdc;
}

.text-bar-icons{
    width:80%;
}

.text-link{
    width:70%;
}

.text{
    font-size: 14px;
}

.txt-send-btn{
    height:93%;
}