<div class="main-window">
    <!-- nav bar -->
    <div class="nav message-window justify-content-between border">
        <!-- profile section left part of the nav flex -->
        <div class="d-flex justify-content-start">
            <!-- image section -->
            <div class="d-flex">
                <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Your Profile"><img class="profile-img m-1" [src]="getGroupProfile()"></a>
            </div>
            <div class="d-flex flex-column justify-content-center mx-1">
                <label data-bs-toggle="tooltip" data-bs-placement="right" title="Your Profile" class="profile-name">{{proGroupName()}}</label>
                <label data-bs-toggle="tooltip" data-bs-placement="right" title="Goup Memebers" class="group-info">{{groupInfo()}}</label>
            </div>    
        </div>
        <!-- right part of nav bar -->
        <div class="d-flex justify-content-evenly align-items-center">
            <a data-bs-toggle="tooltip" data-bs-placement="right" title="Search Chat" href="#" class="h-50"><img class="h-100" [src]="searchImg"></a>
            <a data-bs-toggle="tooltip" data-bs-placement="left" title="Send Media" href="#" class="h-50"><img class="h-100" [src]="fileAttachImg"></a>
            <a data-bs-toggle="tooltip" data-bs-placement="right" title="Options" href="#" class="h-50"><img class="h-100" [src]="toggleImg"></a>
        </div>
    </div> 
    <!-- Messaging area -->
    <div #messageContainer class="messaging-window d-flex flex-column">
        <!-- every message is a bootstrap card -->
        <div *ngFor="let eachMessage of localMessage">
            <ng-container *ngIf="eachMessage.name=='you'; else others">
                <div class="card my-2 w-75 mx-6" style="background-color: rgb(124, 250, 185);">
                        <div class="card-body d-flex flex-column p-1 px-2">
                            <p class="m-0 fw-light text">{{eachMessage.message}}</p>
                            <p class="m-0 d-flex justify-content-end fw-lighter text">{{eachMessage.time}}</p>
                        </div>
                </div>
            </ng-container>
            <ng-template #others>
                <div 
                    class="card mx-4 my-2 w-75" 
                    style="background-color: #efeeee;"
                >
                    <div class="card-body d-flex flex-column p-1 px-2">
                        <p
                            class="m-0 d-flex justify-content-start text-capitalize fst-italic fw-bolder"
                            [ngStyle]="{'color':eachMessage.color}"
                        >
                            {{eachMessage.name}}
                        </p>
                        <p class="m-0 fw-light text">{{eachMessage.message}}</p>
                        <p class="m-0 d-flex justify-content-end fw-lighter text">{{eachMessage.time}}</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- Texting bar -->
    <div class="d-flex texting-section p-2 justify-content-between">
        <div class="d-flex justify-content-center align-items-center">
           <a data-bs-toggle="tooltip" data-bs-placement="right" title="emojies" class="text-link" href="#"><img class="text-bar-icons" [src]="emojiImg"></a>
        </div>
        <div class="d-flex flex-fill input-group align-items-center">
            <input #newText type="text" class="form-control" placeholder="Text here" (keyup.enter)="[addText(newText.value),newText.value='']">
            <button data-bs-toggle="tooltip" data-bs-placement="right" title="Send" class="btn btn-light txt-send-btn p-0" (click)="[addText(newText.value),newText.value='']"><img class="w-50" [src]="sentImg"></button>
        </div>    
        <div class="d-flex justify-content-center align-items-center">
           <a data-bs-toggle="tooltip" data-bs-placement="right" title="voice message" class="text-link" href="#"><img class="text-bar-icons" [src]="micImg"></a>
        </div>
    </div>
</div>
